<div id="kt_app_sidebar" class="app-sidebar  flex-column " data-kt-drawer="true" data-kt-drawer-name="app-sidebar"
    data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px"
    data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">

    <div class="app-sidebar-wrapper">
        <div id="kt_app_sidebar_wrapper" class="hover-scroll-y my-5 my-lg-2 mx-4" data-kt-scroll="true"
            data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
            data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_sidebar_wrapper"
            data-kt-scroll-offset="5px">

            <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false"
                class="app-sidebar-menu-primary menu menu-column menu-rounded menu-sub-indention menu-state-bullet-primary px-3 mb-5">

                <div class="menu-item menu-accordion">
                    <span class="menu-link" routerLink="acceuil" routerLinkActive="active"><span
                            class="menu-icon"><i class="bi bi-house fs-2"></i></span><span
                            class="menu-title">Acceuil</span></span>
                </div>
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <span class="menu-link" routerLinkActive="active"><span class="menu-icon"><i class="bi bi-gear fs-2"></i></span><span class="menu-title">Paramétrage</span><span
                            class="menu-arrow"></span></span>
                    <div class="menu-sub menu-sub-accordion">
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <span class="menu-link" routerLink="gestion-systeme"><span class="menu-bullet"><span
                                        class="bullet bullet-dot"></span></span><span class="menu-title">Gestion Systéme
                                    </span></span>
                            <div class="menu-sub menu-sub-accordion">
                            </div>
                        </div>
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <span class="menu-link" routerLink="type-autorisation"><span class="menu-bullet"><span
                                        class="bullet bullet-dot"></span></span><span
                                    class="menu-title">Gestion Type d'Autorisation</span></span>
                            <div class="menu-sub menu-sub-accordion">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="menu-item menu-accordion">
                    <span class="menu-link" routerLink="gestion-utilisateurs" 
                        routerLinkActive="active"><span class="menu-icon"><i class="bi bi-person-lines-fill fs-2"></i></span><span class="menu-title">Gestion
                            Utilisateurs</span></span>
                <div class="menu-item menu-accordion">
                    <span class="menu-link" routerLink="gestion-api" routerLinkActive="active"><span
                            class="menu-icon"><i class="bi bi-cloud-check fs-2"></i></span><span
                            class="menu-title">Gestion Web Service</span></span>
                </div>
                <div class="menu-item menu-accordion">
                    <span class="menu-link" routerLink="gestion-application" routerLinkActive="active"><span
                            class="menu-icon"><i class="bi bi-columns-gap fs-2"></i></span><span
                            class="menu-title">Gestion Application</span></span>
                </div>
                <div class="menu-item menu-accordion">
                    <span class="menu-link" routerLink="gestion-souscription" routerLinkActive="active"><span
                            class="menu-icon"><i class="bi bi-clipboard2-plus fs-2"></i></span><span
                            class="menu-title">Gestion Souscription</span></span>
                </div>
                <div class="menu-item menu-accordion">
                    <span class="menu-link" routerLink="notifications" routerLinkActive="active"><span
                            class="menu-icon"><i class="bi bi-telephone fs-2"></i></span><span
                            class="menu-title">Contacts</span></span>
                </div>
            </div>


        </div>
    </div>
</div>