

    <div class="comment-box">
        <p>Contactez-nous</p>
        <form class="comment-form">
        <input type="email" name="email" placeholder="Votre email">    
        <input type="text" name="subject" placeholder="Saisir le sujet">
        
        <textarea rows="10" name="comment" placeholder="Votre message..."></textarea>
        <button type="submit">Envoyer</button>
        <div class="contact-info">
                <h2>Informations de contact</h2>
                <p><strong>- Téléphone:</strong>(+216) 71 783 055</p>
                <p><strong>- Fax:</strong>(+216) 71 781 882</p>
                <p><strong>- Email:</strong>webcni@cni.tn</p>
                <p><strong>- Adresse:</strong>17 Rue Belhassen Ben Chaabane 1005 El-Omrane</p>
            </div>
       </form>
    </div>


